language: node_js
sudo: false
cache:
  directories:
    - ~/.npm
node_js:
  - 10
  - 11
install:
  - npm install --build-from-source
script:
  - npm test
  - codecov -f coverage/*.json
after_success:
  - npm run travis-deploy-once "npx semantic-release"
  - npm run travis-deploy-once "npm run deploy-example"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
