name: CI
on: [push]
jobs:
  build:
    name: Build, lint, test and release on Node 16 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node 16 
        uses: actions/setup-node@v1
        with:
          node-version: 16 

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test --ci --coverage --maxWorkers=2

      - name: Coverage 
        run: npx codecov -f coverage/*.json 

      - name: Pack Inspect
        run: yarn pack:inspect
    
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn semantic-release

      - name: Deploy Example
        env:
          GIT_AUTHOR_NAME: Github Actions
          GIT_AUTHOR_EMAIL: actions@github.com
        if: ${{ github.ref == 'refs/heads/master' }}
        run: yarn deploy-example 
